.login {
  position: absolute;
  top: 50%;
  left: 50%;
  min-eight: 200px;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  padding: 30px 15px;

  .axxes-logo {
    width: 300px;
  }
}
