.type-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.regular-color {
  background-color: yellow;
}

.extra-color {
  background-color: orange;
}

.double-color {
  background-color: orangered;
}

.nonbillable-color {
  background-color: blue;
}

.hour-detail {
  display: inline-block;
}
